.duobian {
  background: url("../assets/duobianxing.png") no-repeat  center center;
  background-size: 3rem 3rem;
}
.reset {
  background: url("../assets/reset.png") no-repeat  center center;
  background-size: 3rem 3rem;
}
.yuanxing {
  background: url("../assets/yuanxing.png") no-repeat  center center;
  background-size: 3rem 3rem;
}
/*.tree{
  overflow-y: hidden;
  overflow-x: auto;
}
.tree .el-tree {
  &>>>.el-tree-node {
    min-width: 100%;
    display: inline-block !important;
  }
}*/
