.duobian {
  background: url("../assets/duobianxing.png") no-repeat  center center;
  background-size: 3rem 3rem;
}
.reset {
  background: url("../assets/reset.png") no-repeat  center center;
  background-size: 3rem 3rem;
}
.yuanxing {
  background: url("../assets/yuanxing.png") no-repeat  center center;
  background-size: 3rem 3rem;
}
